# Build artifacts
build/
*.o
*.out
*.exe
/tmp/shell-target

# IDE and Editor files
.idea/
.vscode/
.cph/
*.swp
*.swo
*~
.DS_Store

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Compiled Object files
*.slo
*.lo
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Other
.codecrafters/
